package ${package.Service};

import ${superServiceClassPackage};
import ${package.Entity}.${entity};
import org.springframework.data.repository.Repository;
/**
 * <p>
 * ${table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}>,Repository<${entity}, Integer> {


}